Cascading Style Sheet

*{
	margin: 0px;
	padding: 0px;
}

h2 {
	font-family: "Comic Sans MS", "Comic Sans";
	font-size: 1.6em !important;
}
h3 {
	font-family: "Comic Sans MS", "Comic Sans";
	font-size: 1.2em;
}
p {
	font-family: "Comic Sans MS", "Comic Sans";
}
p.ref{
	font-family: serif;
	font-size: 17px;
	font-weight: normal;
	font-style: italic;
	font-variant: normal;
	text-align:  justify;
}
a.bigger:hover {
	font-size: 1.3em;
	color: white;
}
p:first-letter {
	font-weight: bold;
}
ol[start="0"] > li {
	font-weight: bold;
	font-family: arial;
	color:white;
}
li.letra:first-child{
	font-weight: bold;
}
li.disc{
	list-style-type:disc;
}
li.circle{
	list-style-type:circle;
}
li.square{
	list-style-type:square;
}
li.symbol{
	list-style-image:url("img/mush.png");
}
ol.lower-alpha{
	list-style-type:lower-alpha;
}
ol.upper-alpha{
	list-style-type:upper-alpha;
}
ol.lower-greek{
	list-style-type:lower-greek;
}
ol.upper-roman{
	list-style-type:upper-roman;
}
input[type="file"]:hover{
	border-radius: 10px;
}	
.high{
	text-decoration:underline;
	font-weight: bold;
}
canvas{
	border: 1px solid black;
}
body{
	background-color: #c8f3f8 !important; 
}
.btn-my{
	--bs-btn-border-radius: 1rem;
	--bs-btn-border-color: black;
	--bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
}
input:focus:invalid {
	border: 2px solid red;
}
.line{
	display:inline-block;
}
h1 {
	font-family: "Comic Sans MS", "Comic Sans";
	font-size: 3em !important;
	text-align:center;
	text-shadow:  2px 2px 20px rgb(60, 177, 206),
    -2px 2px 20px rgb(95, 215, 231),
    2px -2px 20px rgb(40, 131, 173),
    -2px -2px 20px rgb(38, 164, 236) !important;
}
#my-pic{
	border: 1px solid black;
}
#my-pic:hover{
	transform: scale(1.5) rotateZ(360deg);
	border: 1px solid black;
	transition: 1.5s;
}

@keyframes moving {
	
	0%{transform: translateX(0vw);}

	100%{transform: translateX(50vw);}
	
}

#princeanimation{
	animation: moving 3s linear;
	animation-direction: alternate; 
	animation-iteration-count: infinite;
}

@keyframes chocomove {
	0%{transform: translateX(0vw);}
	50%{transform: translateX(50vw);}
	51%{transform: translateX(50vw) scaleX(-1);}
	99%{transform: translateX(0vw) scaleX(-1);}
	100%{transform: translateX(0vw);}
}

#choco{
	animation: chocomove 5s linear;
	animation-direction: normal;
	animation-iteration-count: infinite;
}

#logob{
	border: none;
}

.back1{
	background: rgb(19, 143, 226) !important;
}
.back2{
	background: rgb(111, 206, 127) !important;
}
.back3{
	background: #c8f3f8 !important;
}